<footer>
     <div class="footerSection">
            <i class="fa fa-copyright"></i> Copyright MQJ 2020. All rights reserved.<br>
            Web Design by <a href="https://kolacodes.herokuapp.com"> <span>Afrocodez</span> </a>
        </div>
    </footer>
</body>
</html>
