<% include ../partials/header %>

<body>

  <!-- showcase -->
  <div class="customContainer" id="showcase">
    <div class="mobileBar wrapperOne">
        <div class="toggler showcaseWrapItemOne">
          <!-- Toggler Goes Here -->
        </div>
        <div class="logo showcaseWrapItemTwo">
          <a href="#">
					 <img src="images/logo2.jpeg" alt="Capture by Lucy" class="MobileBarBrandingLogo">
				</a>
        </div>
        <div class="padlock showcaseWrapItemThree">
          <!-- Padlock Goes Here -->
        </div>
   </div>
   <div class="clr"></div>
  </div>
	<!-- end of showcase -->



	
<!-- article section -->
<section class="customContainer">
  <div class="header">
      <h1 class="header">Welcome to MQJ Blog</h1>
      <br>
  </div> 
</section>
<!-- end of article section -->
  



	

<section class="blogsDisplaySection">
	<% all_posts.forEach(function(each_post) { %>
<div class="wrapItem2"><a href="/posts/<%= each_post._id %>"><img class="blog-post-image2" alt="" src="<%=each_post.image%>" /></a>
		<p> <a class="postTitleIndex" href="/posts/<%= each_post._id %>"> <em class="postTitleIndex"><%- each_post.title%></em> </a></p>
</div>
<%  }); %>
<div class="clr"></div>
</section>

<!-- end of blogs display section -->
  

 <!-- footer -->
 <div class="customContainer">
   <div class="footerSection">
		 <p>Copyright MQJ &copy; 2020. All rights reserved</p>
		 <p>Created by <a href="http://afrocodez.com"><span>Afrocodez</span></a></p>
		 
   </div>
</div>
<br>
<!-- end of footer -->  

</body>
</html>



